<header class="header-area header-style-3 header-height-2">
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative main-nav d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="/">
                        <img src="/user/imgs/logos/cyclonelogo.png" alt="logo" class="logo-img">
                    </a>
                </div>
                <div class="header-nav">
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2">
                        <nav>
                            <ul class="d-flex justify-content-end">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="/order">Order</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/profile">Profile</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    .logo img {
        width: 200px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
    }
</style>